language: cpp

dist: bionic

sudo: required

compiler:
  - gcc

os:
  - linux

arch:
  - amd64
  - arm64
  - ppc64le
  - s390x

addons:
  apt:
    packages:
      - btrfs-progs
      - python3m-dev
      - cmake

script:
  - ./travis_build_deb.sh
